@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

.black-document{
    height: 100vh;
    width: 100vh;
    background-color: rgb(23, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.three-dots{
    font-size: 40px;
    position: absolute;
    top: 3%;
    left: 45%;
    cursor: pointer;
}
.container{
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: orange;
}
.cut{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 40px;
}
.nav ul li a{
    text-decoration: none;
   font-size: 40px;
}
.nav ul{
    text-align: center;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    list-style: none;
}